<form id="register-form" action="/register" method="post">
    <p id="register-notice" class="notice"></p>
    <div class="form-group">
        <label for="register-username">Username</label>
        <input id="register-username" type="text" name="username" placeholder="Username" required>
        <p id="register-username-notice" class="notice"></p>
    </div>

    <div class="form-group">
        <label for="register-password">Password</label>
        <input id="register-password" type="password" name="password" placeholder="Password" required>
        <p id="register-password-notice" class="notice"></p>
    </div>

    <button class="primary" type="submit">Register</button>
</form>