<form id="register-form" action="/register" method="post">
    <p id="register-notice" class="notice"></p>
    <div class="form-group">
        <label for="register-name">Name</label>
        <input id="register-name" type="text" name="name" placeholder="Name" required>
        <p id="register-name-notice" class="notice"></p>
    </div>

    <div class="form-group">
        <label for="register-email">Username</label>
        <input id="register-email" type="email" name="email" placeholder="E-Mail" required>
        <p id="register-email-notice" class="notice"></p>
    </div>

    <div class="form-group">
        <label for="register-password">Password</label>
        <input id="register-password" type="password" name="password" placeholder="Password" required>
        <p id="register-password-notice" class="notice"></p>
    </div>

    <button class="primary" type="submit">Register</button>
</form>