<form id="login-form" action="/login" method="post">
    <p id="login-notice" class="notice"></p>
    <div class="form-group">
        <label for="login-username">Username</label>
        <input id="login-username" type="text" name="username" placeholder="Username" required>
    </div>

    <div class="form-group">
        <label for="login-password">Password</label>
        <input id="login-password" type="password" name="password" placeholder="Password" required>
    </div>

    <button class="primary" type="submit">Login</button>

</form>