.idea
mysql_data
node_modules
tests
vendor
.htaccess
composer.json
composer.lock
docker-compose.yml
docker-php-errors.ini
Dockerfile
package.json
package-lock.json
phpcs.xml
phpmd.xml
psalm.xml
qodana.yaml
public/config.php