#createProperty{
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
    padding: 12px 18px;
}

#createProperty svg{
    width: 30px;
}

#createPropertyPopup form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;


}

#createPropertyPopup form .field label{

}

#createPropertyPopup form .field input{

}