{% extends 'layouts' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/default.css">
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
    <form class="login-form" action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
{% endblock %}